.paginationContainer {
  display: flex;
  gap: var(--gap-l);
  align-items: center;

  @media screen and (width <= 1024px) {
    flex-wrap: wrap;
  }
}

.paginationOption {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--icon-size-xl);
  height: var(--icon-size-xl);
  padding: 0 4px;

  background-color: transparent;
  border-radius: var(--border-radius-xs);
  box-shadow: none;

  transition:
    background-color var(--transition-duration-default) ease,
    color var(--transition-duration-default) ease,
    box-shadow var(--transition-duration-default) ease;

  &:not(.selected):hover {
    color: var(--color-light-100);
    background-color: var(--color-dark-500);
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  }

  &.disabled {
    pointer-events: none;
    color: var(--color-dark-100);
    background-color: var(--color-light-100);
  }

  &.disabled:hover {
    cursor: default;
  }
}

.selected {
  pointer-events: none;
  color: var(--color-dark-900);
  background-color: var(--color-light-100);
}

.arrow {
  width: var(--arrow-size-s);
  height: var(--arrow-size-s);
}

.arrowRight {
  transform: rotate(var(--180-deg));
}

.dots {
  pointer-events: none;
  cursor: default;
}

.selectOption {
  width: 50px;
  height: 24px;
  padding: 0 6px;
}

.nowrap {
  text-wrap: nowrap;
}
